@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply h-full;
}
html{
  @apply bg-white
}
/*body{
  @apply overflow-hidden
}*/
#__next {
  @apply h-full;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.select-feed:hover{
  background-color:aliceblue;
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.chatBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.chatDivDe{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.chatDivPara{
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-self: flex-start;
}

.chatFlow{
  overflow: auto;
}

.msjDe{
  padding-left: 15px;
  background-color: #0070f3;
  border-radius: 20px;
}

.msjPara{
  align-self:flex-end;
  padding-right: 15px;
  background-color:aquamarine;
  border-radius: 20px;
}
